mj-class(name='bg-green-neo', background-color='#8ab31d')
mj-class(name='bg-orange-neo', background-color='#ea5a0b')
mj-class(name='color-green-neo', color='#8ab31d')
mj-class(name='color-orange-neo', color='#ea5a0b')