mj-all(font-family='arial')
mj-class(name='font-sm', font-size='11px')
mj-class(name='font-md', font-size='14px')
mj-class(name='font-lg', font-size='18px')
mj-class(name='font-h1', font-size='24px')
mj-class(name='font-h2', font-size='20px')
mj-class(name='font-h3', font-size='16px')
mj-class(name='align-r', align='right')
mj-class(name='align-l', align='left')
mj-class(name='align-c', align='center')
mj-class(name='bg-white', background-color='#ffffff')
mj-class(name='bg-gray', background-color='#f2f2f2')
mj-class(name='color-white', color='#ffffff')
mj-class(name='color-gray', color='#626262')
